
body{
  font-family: times-roman;
  background-image: url("zod.jpg");
  background-repeat: no-repeat;
  background-size: 500%; 
  text-align: center;
}

form{
  align-content: center;
}
#post{
  align-items: center;
  color: whitesmoke;
}

h1{
  color: rgb(175, 202, 226);
}

h2{
  color: beige;
}

#Date{
 align-content: center;
}

h3{
  color: antiquewhite;
}

#month{
 width:100px;
 height:50px;
}

select{
  width:100px;
 height:50px;
}

#zodiac{
  font-size: 100%;
  border: 20px;
  width:100px;
 height:50px;
}